* {
  box-sizing: border-box;
}

body {
  max-width: 40em;
  margin: 0;
  padding: 20px;
  font-size: 1em;
  line-height: 1.3;
  font-family: helvetica, arial, sans-serif;
}

h1 {
  margin-top: 0;
}

h2 {
  margin: 1em 0;
  font-size: 130%;
}

h3 {
  margin: 0 0 .5em;
  font-size: 1.1em;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:focus {
  color: #fff;
  background: #000;
}

a:hover {
  color: #fff;
  background: green;
}

a:active {
  color: #fff;
  background: red;
}

hr {
  margin: 1em 0 3em;
}

pre {
  font-size: 1em;
  display: block;
  background: #000;
  color:#fff;
  padding: 1em;
  margin: 1em 0 36px;
}

pre code {
  line-height: 1.5;
}

code {
  font-size: 1em;
  color: green;
  font-family: monaco, courier, monospace;
}

form {
  margin: 2em 0;
  padding: 1em;
  background: #eee;
}

fieldset {
  margin: 0;
  border: 1px solid #999;
}

legend {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  background: #fff;
}

caption {
  text-align: left;
  font-weight: bold;
  padding: 0 0 .5em;
  font-size: 1.1em;
}

th,
td {
  text-align: left;
  padding: .5em;
  border: 1px solid #666;
}

.form-group {
  margin: 0;
}

.form-group-spaced {
  margin: 0 0 2em;
}

.label {
  display: block;
  margin: 0 0 .3em;
}

.input {
  display: block;
  width: 100%;
  padding: .5em;
  border: 1px solid #999;
  font-size: 1em;
  line-height: 1;
  font-family: helvetica, arial, sans-serif;
}

.input:focus {
  outline: 2px solid #000;
}

.input:hover {
  outline: 2px solid green;
}

.button {
  display: inline-block;
  padding: .75em 1em;
  border: 0;
  background: blue;
  color: #fff;
  border-radius: .2em;
  font-size: 1em;
  line-height: 1;
  font-family: helvetica, arial, sans-serif;
}

.button:focus {
  background: #000;
  color: #fff;
  outline: none;
}

.button:hover {
  background: green;
  color: #fff;
}

.button:active {
  background: red;
  color: #fff;
}

.form-list {
  margin: .5em 0;
  padding: 0;
  list-style: none;
}

.note {
  background: #ffe6e6;
  padding: 1em;
  margin: 1em 0;
}

.note p {
  margin: 0;
}

.help-text {
  display: block;
  margin: 0 0 .3em;
  font-style: italic;
  color: #555;
}

.error-message {
  display: block;
  margin: 0;
  padding: .3em 0 0;
  font-style: italic;
  color: red;
}

.error-message::before {
  content: url(../img/cross.png);
  position: relative;
  left: 0;
  top: 3px;
  display: inline-block;
  width: 23px;
  height: 20px;
}

.main-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-list li {
  margin: 0 0 .5em;
}

.main-list a {
  display: inline-block;
  padding: .2em .5em;
  background: #eee;
  border-radius: .2em;
}

.main-list a:focus {
  background: black;
  outline: none;
}

.main-list a:hover {
  background: green;
}

.main-list a:active {
  background: red;
}

.browser-list {
  margin: 0 0 0 1em;
  padding: 0;
}

.browser-list li {
  margin: 0 0 .3em;
}

.red {
  color: red;
  font-weight: bold;
}

.required {
  color: red;
  font-size: .9em;
}

.example {
  margin: 2em 0;
  padding: 1em;
  background: #eee;
}

.check {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/check.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.list-style-none {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.modal {
  border: 2px solid #000;
  padding: 1em;
  background: #fff;
  box-shadow: 5px 5px rgba(0,0,0,20%);
}

.modal h2 {
  margin: 0 0 .5em;
}

.modal p {
  margin: 0;
}

.sr-only {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: -1px !important;
  padding: 0 !important;
  white-space: nowrap !important;

  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
}

