* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  color: #333;
  background: #fff;
  font: 1em/1.2 helvetica, Arial, sans-serif;
}

h1 {
  margin: 0 0 .5em;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  margin: 1em 0;
  border-collapse: collapse;
}

caption {
  margin: 0 0 .5em;
  font-weight: bold;
  text-align: left;
}

th,
td {
  border: 1px solid #999;
  padding: .5em 1em;
  text-align: left;
}

th {
  background: #eee;
}

.container {
  max-width: 35em;
  margin: 0 auto;
}

.checkbox {
  position: relative;
  padding: 3px 0 3px 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox:focus {
  outline: 1px dotted #666;
}

.checkbox:before {
  position: absolute;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #777;
  border-radius: 5px;
  content: '';
  background: #eee;
}

.checked:before {
  background: green;
}

.checked:after {
  position: absolute;
  top: 4px;
  left: 1px;
  width: 16px;
  height: 16px;
  content: '';
  background: url(../img/check.png) no-repeat 50% 50%;
}

.button {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 8px 12px;
  color: #fff;
  background: blue;
  font: 1em/1.2 helvetica, Arial, sans-serif;
  line-height: 1;
}

.button:hover {
  background: darkblue;
}

.button:focus {
  background: black;
}

.button:active {
  background: darkred;
}

.label {
  display: block;
  margin: 0 0 .2em;
}

.input {
  width: 100%;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px;
  background: #fff;
}

.input__disabled,
.input[disabled] {
  cursor: not-allowed;
  background: #eee;
}

.input__invalid,
.input[invalid] {
  border: 1px solid red;
}

.form-container {
  margin: 0 0 1.5em;
}

.poll {
  margin: 20px 0;
  padding: 20px;
  background: #ddd;
}

.poll__options {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

.poll__options li {
  margin: 0 0 .5em;
}

.message {
  margin: 1em 0;
  padding: 1em;
  background: #eee;
}

.message-alert {
  border: 1px solid red;
  color: red;
}

.message-status {
  border: 1px solid green;
  color: green;
}
