/* ---------------------
global
-----------------------*/

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  background: #f2f2f2;
  font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, Geneva, sans-serif;
  font-size: 1em;
}


/* ---------------------
headings
-----------------------*/

h1,
h2 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, Tahoma, Geneva, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5em;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: none;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: break-word;
}


h1 {
  margin: 0 0 1em;
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-weight: 700;
  font-size: 1.8em;
  margin: 0 0 .5em;
}

h3 {
  font-size: 1.1em;
  margin: 1.2em 0 .3em;
}


/* ---------------------
paragraphs
-----------------------*/

p {
  margin: 0 0 1em;
  line-height: 1.5;
}

ul {
  margin: 1em 0;
  padding: 0 0 0 20px;
}

ul li {
  margin-bottom: .4em;
}

hr {
  margin: 2em 0;
  border: 0;
  height: 1px;
  background: #999;
}

code {
  font-size: 1em;
  color: green;
  font-family: consolas, courier, monospace;
}

kbd {
  border: .03em solid #ccc;
  border-radius: .2em;
  padding: .2em .2em .1em;
  color: #555;
  background-image: linear-gradient(#fff, #eee);
  box-shadow: .05em .05em .1em #aaa;
  font-family: consolas, courier, monospace;
}


/* ---------------------
links
-----------------------*/

a {
  color: #592C82;
}

a:focus {
  color: #fff;
  background: #000;
  outline: 0;
}

a:hover {
  color: #333;
  background: #fff !important;
}

a:active {
  color: red;
  background: #fff;
}

/* ---------------------
content
-----------------------*/

.main {
  max-width: 45em;
  margin: 0 auto;
}

.card {
  padding: 2em;
  margin: 0 0 2em;
  background: #fff;
}

details {
  margin: 0;
}

summary {
  padding: .3em 0;
  font-size: 1.1em;
  font-weight: bold;
  color: #592C82;
}

summary:focus {
  color: #fff;
  background: #000;
  outline: 0;
}

summary:hover {
  color: #333;
  background: #fff;
  cursor: pointer;
}

summary:active {
  color: red;
  background: #fff;
}

/* ---------------------
small screen
-----------------------*/

@media (max-width: 600px) {
  body {
    font-size: 1em;
  }

  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 2em;
  }

  .content {
    padding: 20px;
  }

  .download {
    position: static;
    font-size: 1em;
  }
}
